@media (max-width: 767px) {
    .container__box {
        margin: 0;
    }

    .container__red {
        width: 211px;
        height: 210px;
        left: -55px;
        top: 318px;
    }

    .container__purple {
        width: 259px;
        height: 259px;
        right: -197px;
        top: 180px;
        background: #833AB4;
    }

    .container__yellow {
        display: block;
        top: 607px;
        left: -66px;
    }

    .red__big {
        left: 64px;
    }

    .red__small {
        left: 438px;
    }

    .purple__big {
        left: 662px;
        top: 255px;
    }

    .main-content {
        padding: 0 15px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
    }
    .box-company__title, .box-company__name {
        font-size: 36px;
        line-height: 44px;
    }
    .box-company {
        flex-basis: 240px;
    }

    .info-company{
      width: 100%;
    }
    .info-company__title {
      text-align: center;
      margin: 0 auto;
      font-size: 14px;
    }
    .company-grid__text {
      text-align: center;
      font-size: 14px;
    }
    .company-grid__item {
      align-items: center;
    }
    .info-company__btn {
      justify-content: center;
      margin: 14px 0 0 0;
    }
    .company-grid__grid {
      margin: 14px 0 0 0;
    }
    .company-grid__title {
      font-size: 14px;
    }
}
  
@media (max-width: 320px) {
    .container__nois {
        left: 0px;
        top: 0px;
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: overlay;
        opacity: 0.2;
    }

    .container__glass {
        display: block;
        width: 320px;
        height: 550px;
        left: 0px;
        top: 0px;
        
        background: radial-gradient(238.53% 189.02% at 3.2% 3.49%, rgba(255, 246, 233, 0.1) 0%, rgba(26, 29, 35, 0.1) 26.62%, rgba(26, 29, 35, 0.1) 52.1%, rgba(26, 29, 35, 0.01) 70.17%, rgba(26, 29, 35, 0) 100%);
        backdrop-filter: blur(7.5px);
    }

    .red__big {
        width: 43px;
        height: 43px;
        left: 29px;
        top: 487px;
        
        backdrop-filter: blur(2px);
    }

    .purple__big {
        width: 40px;
        height: 40px;
        top: 313px;
        left: 275px;
        
        backdrop-filter: blur(2px);
    }
    .company-grid__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      position: relative;
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  
    .company-grid__title::before {
      content: "";
      display: block;
      height: 1px;
      width: 10px;
      margin: 0 5px 0 0;
      visibility: visible;
      background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);    
    }
  
  
    .info-company__btn, .company-grid__text {
      display: none;
    }
  
    .company-grid__item {
      align-items: flex-start;
    }
  
    .company-grid__grid {
      grid-row-gap: 14px;
      grid-column-gap: 5px
    }
    .info-company__title {
      text-align: left;
    }
  
    .company-grid__item:nth-child(1) > .company-grid__title::after {
      content: "Skype аудит";
    }
    
    .company-grid__item:nth-child(2) > .company-grid__title::after {
      content: "30 виджетов";
    }
    
    .company-grid__item:nth-child(3) > .company-grid__title::after {
      content: "Dashboard";
    }
    
    .company-grid__item:nth-child(4) > .company-grid__title::after {
      content: "Месяц аmoCRM";
    }
    .company-grid__grid {
      width: 264px;
    }
}

