.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 128px 0 0 0;
}

.box-company {
    flex-basis: 362px;
}

.box-company__title, .box-company__name {
    font-family: 'Inter';
    font-style: normal;
}

.box-company__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #E4E5EA;
}

.box-company__name {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.box-company__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 275px;
    margin: 30px 0 0 0;
    color: #E4E5EA;
}

.info-company {
    margin: 15px 0 0 0;
}
  
.info-company__title, .company-grid__title {
    font-family: 'Inter';
    font-style: normal;
}
  
.info-company__title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    max-width: 291px;
    margin-left: auto;
    
    color: #E4E5EA;
}
  
.company-grid__item:nth-child(1) > .company-grid__title::after {
    content: "ВИДЖЕТЫ";
}
  
.company-grid__item:nth-child(2) > .company-grid__title::after {
    content: "DASHBOARD";
}
  
.company-grid__item:nth-child(3) > .company-grid__title::after {
    content: "Skype Аудит";
}
  
.company-grid__item:nth-child(4) > .company-grid__title::after {
    content: "35 дней"; 
}
  
.info-company__grad {
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
  
.company-grid__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 22px;
    grid-row-gap: 30px;
    margin: 40px 0 0 0;
}
  
.company-grid__item {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.company-grid__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #E4E5EA;
}
  
.company-grid__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin: 6px 0 0 0;
    color: #E4E5EA;
}
  
.company-grid__item:nth-child(1) .company-grid__text{
    max-width: 89px;
}
  
.company-grid__item:nth-child(2) .company-grid__text{
    max-width: 135px;
}
  
.company-grid__item:nth-child(3) .company-grid__text{
    max-width: 134px;
}
  
.company-grid__item:nth-child(4) .company-grid__text{
    max-width: 130px;
}
  
.info-company__btn {
    display: flex;
    justify-content: flex-end;
    margin: 61px 0 0 0;
}

.button {
    width: 262px;
    height: 61px;
    background: #4077F3;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  
    color: #E4E5EA;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
  
.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -262px;
    width: 262px;
    height: 61px;
    background: #8baeff;
    opacity: 0.3;
    transition: left .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
  
.button:hover:before {
    left: 0;
}
  
.button:active {
    background: #2964ee;
}

.container {
    max-width: 100vw;
    min-height: 100vh;
    background: #0E1014;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
  
.container__box {
    flex-basis: 1140px;
    position: relative;
    margin: 0 30px;
}
  
.container__content {
    position: relative;
    z-index: 100;
}
  
.container__light {
    position: absolute;
    opacity: 0.5;
    filter: blur(196px);
}
  
.container__yellow {
    display: none;
    width: 200px;
    height: 200px;
    background: #FCB045;
    opacity: 0.4;
    filter: blur(196px);
}
  
.container__nois, .container__glass {
    display: none;
    position: absolute;
}
  
.container__red {
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    animation: 15s infinite slidein;
    
    background: #961A1A;
}
  
@keyframes slidein {
    from {
        width: 311px;
        height: 311px;
    }
    30% {
        width: 211px;
        height: 211px;
    }
    to {
        width: 311px;
        height: 311px;
    }
}

.container__purple {
    width: 259px;
    height: 259px;
    right: 429px;
    top: -154px;
    animation: 10s infinite slidein;
    background: #833AB4;
}
  
.container__ball {
    position: absolute;
    backdrop-filter: blur(2px);
    border-radius: 50%;
}
  
.red__big {
    width: 83px;
    height: 83px;
    left: 369px;
    top: 83px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
}
  
.red__small {
    width: 28px;
    height: 28px;
    left: 701px;
    top: 547px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
}
  
.purple__big {
    width: 60px;
    height: 60px;
    left: 718px;
    top: -2px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
}